<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.usy.mapper.TeacherAccountMapper">
    <insert id="insert">
        INSERT INTO teacher (teacher_account,teacher_password) VALUES (#{teacherAccount},#{teacherPassword});
</insert>
</mapper>
